.board-card {
  width: 15rem;
  height: 1rem;
  margin: 0.8rem;
  margin-left: 0;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.4rem;
}

.board-card a {
  text-decoration: none;
}

.board-card .title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
