<div class="add-list-container">
  <button mat-fab color="primary" *ngIf="!openTextInput" (click)="toggleListTextEdit()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-card *ngIf="openTextInput">
    <mat-card-header>
      <mat-card-title class="title">
        Enter List Name
      </mat-card-title>
    </mat-card-header>
    <input type="text" #newListtitle class="input-list-name" autofocus type="text" placeholder="New List Title" (keyup.enter)="saveNewListTitle(newListtitle.value)"
    />
    <mat-card-actions *ngIf="openTextInput">
      <button mat-button (click)="saveNewListTitle(newListtitle.value)">Add</button>
      <button mat-button (click)="toggleListTextEdit()">Cancel</button>
    </mat-card-actions>
  </mat-card>

</div>
