.list-card {
  display: inline-block;
  background: rgba(1, 1, 1, 0.03);
  margin: 0.8rem;
  width: 15rem;
  vertical-align: top;
}
.list-card .header {
  cursor: pointer;
}

.list-card .title {
  font-weight: bold;
}

.list-card .contents {
  margin-top: 2rem;
}

.list-card .seperator {
  margin: 0 -1.5rem;
  width: auto;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.list-card .title-edit-from {
  margin: 0;
  border-top: 0;
}
