<mat-card class="card" *ngFor="let card of cards">
  <mat-card-header class="header">
    <mat-card-title class="title">
      <ngx-tasker-inline-text-editor [value]="card.title" (newvalue)="saveCardTitle($event, card)">
      </ngx-tasker-inline-text-editor>
    </mat-card-title>
  </mat-card-header>
  <mat-divider [inset]="true" class="seperator"></mat-divider>
  <mat-card-content class="contents">
    <span (click)="card.open=true;" *ngIf="!card.open">{{card.desc}}</span>
    <mat-form-field *ngIf="card.open">
      <textarea matInput #newDesc placeholder="">{{card.desc}}</textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>